@import "assets/styles/variables";

.buttons {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.rowWrapper:hover .buttons {
  opacity: 1;
}

.paragraph {

  div {
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }

  &:hover div {
    opacity: 1;
  }
}