@import "assets/styles/variables";

.wrapper {
  margin-right: 15px;
  border-radius: 7px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.heading {
  color: $primary-blue;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  height: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.panel {
  background: white;
  padding: 1.5em;
  border-radius: 7px;
  flex-grow: 1;
}