@import "assets/styles/variables";

.wrapper {
  //background: white;
  margin-right: 15px;
  border-radius: 7px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  //position: relative;
  //font-size: 14px;
  //width: 100%;
}

.heading {
  color: $primary-blue;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.panel {
  background: white;
  padding: 1.5em;
  border-radius: 7px;
  flex-grow: 1;
}