@import "assets/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  color: $primary-blue;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  height: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.formHeading {
  display: flex;
  flex-direction: row;
  margin-top: 5px;

  div {
    padding: 0 8px;
    margin: 5px;
  }
}

.formRow {
  display: flex;
  flex-direction: row;

  .input {
    margin: 5px;
    height: 35px;
    border: 1px solid #ececec;
    padding: 10px;
  }
}

.name {
  width: 23%;
}

.timestamp {
  width: 23%;
}

input.timestamp{
  width: calc(100% - 10px);
}

.amount {
  width: 23%;
}

.category {
  width: 30%;
}

.errors {
  padding: 5px;
  height: 2em;
}

.formButtons {
  border-top: 1px solid $slate-gray;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;

  button {
    background: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid $primary-blue;
    transition: background-color 0.2s ease-in-out;
  }

  .cancelButton {
    color: $primary-blue;
    margin-right: 10px;

    &:hover {
      color: $dark-blue;
    }
  }

  .saveButton {
    background-color: $primary-blue;
    color: white;

    &:hover {
      background-color: $dark-blue;
    }
  }
}
