@import "assets/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  color: $primary-blue;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  height: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.formHeading {
  display: flex;
  flex-direction: row;
  margin-top: 5px;

  div {
    padding: 0 8px;
    margin: 5px;
  }
}

.formRow {
  display: flex;
  flex-direction: row;

  .input {
    margin: 5px;
    height: 35px;
    border: 1px solid #ececec;
    padding: 10px;
  }
}

.errors {
  padding: 5px;
  height: 2em;
  color: $coral;
}
