@import "assets/styles/variables";

.wrapper {
  display: flex;
  height: 5em;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}

.heading {
  color: $primary-blue;
  font-weight: bold;
}