$slate-gray: #f5f6fa;
//$primary-blue: #4D85FF;
$primary-blue: #1890ff;
$dark-blue: #2c6aed;
$graphite: #333333;
$text: #6f6f6f;
$text-light: #dedede;

$sun: #fecd40;
$gold: #f3ae4e;
$orange: #fa8b53;
$coral: #f66d6a;
$peony: #f57fc2;
$plum: #bf6fc6;
$sea: #68eeed;

$mobile: "screen and (max-width: 480px)";
$tablet: "screen and (max-width: 768px)";
$laptop: "screen and (max-width: 1024px)";
$desktop: "screen and (min-width: 1025px)";
