$slate-gray: #F5F6FA;
//$primary-blue: #4D85FF;
$primary-blue: #1890ff;
$dark-blue: #2C6AED;
$graphite: #333333;
$text: #6F6F6F;
$text-light: #dedede;

$sun: #FECD40;
$gold: #f3ae4e;
$orange: #FA8B53;
$coral: #F66D6A;
$peony: #F57FC2;
$plum: #BF6FC6;
$sea: #68EEED;



$mobileXS: "screen and (max-width: 639px)";
$mobile: "screen and (min-width: 640px)";
$tablet: "screen and (min-width: 768px)";
$laptop: "screen and (min-width: 992px)";
$desktop: "screen and (min-width: 1280px)";
